numpy
pandas
tensorflow[and-cuda]
tensorrt
scikit-learn
openpyxl
pyproj
tqdm
matplotlib
torch
pynvml

# for CUDA 12 on ARIES
# pip install torch==2.1.0+cu121 torchvision==0.16.0+cu121 --extra-index-url https://download.pytorch.org/whl/cu121